/Content/Fantastic_Village_Pack/
/Content/Simple_People_2_SourceFiles/
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.uasset
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace



/Content/Assets/Boat/
/Content/Assets/Low_Poly_Knife/
